@model ProductViewModel
<div class="card-container w-100 pt-3">
    <div class="container">
        <h1 class="text-primary fw-bold text-center">Delete @Model.Name</h1>
        <form asp-action="Delete" enctype="multipart/form-data">
            <div class="img-data my-4">
                <h4 class="text-primary fw-bold">Product Picture</h4>
                @if (!string.IsNullOrEmpty(Model.ImageName))
                {
                    <img src="~/Files/Images/@Model.ImageName" alt="" class="" id="image-preview">
                }
                else
                {
                    <img src="~/img/placeholder-3x2.png" alt="" class="" id="image-preview">
                }
                <input readonly type="file" hidden id="image-input" accept="image/*" asp-for="@Model.Image" onchange="previewImage(event)">
            </div>
            <input asp-for="@Model.ImageName" hidden />
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="mb-4">
                        <label class="form-label text-primary fs-5" for="name">Product name</label>
                        <input readonly type="text" class="form-control form-control-sm login-page" asp-for="@Model.Name">
             
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="mb-4">
                        <label class="form-label text-primary fs-5" for="name">Price</label>
                        <input readonly type="number" class="form-control form-control-sm login-page" asp-for="@Model.Price">
                 
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 my-3">
                            <button class="btn btn-sm fs-6 btn-primary w-100" asp-action="Index">
                                Cancel
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-3">
                            <input class="btn btn-sm fs-6 btn-primary w-100" type="submit" value="Delete">


                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @*  <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>*@
    <script>
        function previewImage(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function () {
                const imagePreview = document.getElementById("image-preview");
                imagePreview.src = reader.result;
            }
            reader.readAsDataURL(file);
        }

        const editLabel = document.getElementById("image-preview");
        editLabel.addEventListener("click", function () {
            const imageInput = document.getElementById("image-input");
            imageInput.click();
        });
    </script>
}